#main {
	border: 1px solid gray;
}

#labeltree {
  width: 25%;
  height: 100%;
  float: left;
  background: red;
}

#queryresults {
  width: 55%;
  height: 100%;
  background: blue;
  float: left;
}

#locationbar {
  background: gray;
  height: 10%;
}

#filegrid {
  background: yellow;
  height: 90%;
  display: table;
}

.gridfile {
  background: white;
  width: 220px;
  display: table-cell;
}

#filedetails {
  width: 20%;
  height: 100%;
  background: black;
  float: left;
}
