.location-bar {

}

.new-label-entry {
  font: Impact Label 11
}

.new-file-entry {
  font: Monospace 9
}

.location-button * {
  padding: 6px;
  font: Impact Label 14;  
}

.tree-view {
  background-color: #f2f1f0;
  font: Impact Label 12
}

.window * {
  border-width: 0px;
}
